<div class="card border-primary  mt-3 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col">
            <div class="form-group">
              <div class="card-header  ">
                <h2 class="text-center text-white titulo ">Agregar un toner</h2>
              </div>
              <div class="card-body" [formGroup]="form">
             <!-- Modelo de toner-->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text contenido" for="inputGroupUsers" >Toner </label>
                  
                </div>              
                <input class="custom-select contenido" id="inputGroupProblems" required formControlName="modeloToner" placeholder="Modelo de Toner"  [(ngModel)]="toner.toner_model">
              </div>
              <div class="align-items-end" *ngIf="form.controls['modeloToner'].hasError('required') && form.controls['modeloToner'].touched"
              class="alert alert-danger contenido">
              <a class="text-center contenido ">Por favor, Debe Seleccionar un tipo de toner</a>
               </div>
              
           <!-- Tipo del toner-->
              <div class="input-group mb-3">
                
                <div class="input-group-prepend">
                  <label class="input-group-text contenido" for="inputGroupTechnicals">Tipo</label>
                </div>
                <select class="custom-select contenido" id="selectTypeToner" required formControlName="tipoToner" [(ngModel)]="toner.type_id">
                  <option *ngFor="let type of type_toners" [value]="type.id_type">{{type.type}}
                  </option>
    
                </select>
              </div>
              <div class="align-items-end" *ngIf="form.controls['tipoToner'].hasError('required') && form.controls['tipoToner'].touched"
              class="alert alert-danger contenido">
              <a class="text-center contenido ">Por favor, Debe Seleccionar un tipo de toner</a>
               </div>
             
            <!-- Cantidad -->
         
              <div class="input-group mb-3">
               
                <div class="input-group-prepend">
                  <label class="input-group-text contenido" for="inputGroupProblems">Cantidad</label>
                </div>
                <input class="custom-select contenido" id="inputGroupProblems" required formControlName="cantidad" placeholder="Cantidad Disponible" [(ngModel)]="toner.quantity">
              
              </div>
              <div class="align-items-end" *ngIf="form.controls['cantidad'].hasError('required') && form.controls['cantidad'].touched"
              class="alert alert-danger contenido">
              <a class="text-center contenido ">Por favor, Ingresar Una cantidad</a>
               </div>
          
    
            </div>
            <button  class="btn btn-primary col-md-4 offset-md-4"  (click)="addToner()" [disabled]="form.invalid">
                Guardar Toner
            </button>
    
        
    
            </div>
         
       
      </div>
    </div>
    
    </div>
