<div class="card border-primary  mt-3 mx-auto" style="max-width: 540px;">
<div class="row no-gutters">
  <div class="col">
        <div class="form-group">
          <div class="card-header  ">
            <h2 class="text-center text-white titulo ">{{titulo}}</h2>
          </div>
          <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupOffice">Oficina</label>
            </div>
            <select  class="custom-select contenido" id="inputGroupOffice" [(ngModel)]="incidencia.oficina" (change)="getUsersForOffice(incidencia.oficina)" >
              <option *ngFor="let office of officesList"  [value]="office.id_office">{{office.name_office}}</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupUsers">Usuario</label>
          
            </div>
            <select class="custom-select contenido" id="inputGroupUsers" [(ngModel)]="sup.user_id" required>
              <option *ngFor="let user of usersForOffice" [value]='user.id_user'>{{user.name_user}}</option>
            </select>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-plus-circle contenido"></i>
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                          
                            <button type="button" class="close contenido" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                             <app-user-form ></app-user-form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary contenido" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
             <!-- <a class="btn btn-outline-secondary" (click)="openUser(open)">
              
              </a>-->
            </div>


          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupTechnicals">Tecnico</label>
            </div>
            <select class="custom-select contenido" id="inputGroupTechnicals" [(ngModel)]="sup.technical_id">
              <option *ngFor="let technical of technicalsList" [value]="technical.id_technical">{{technical.name_tec}}
              </option>

            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupProblems">Problema</label>
            </div>
            <select class="custom-select contenido" id="inputGroupProblems" (change)="getToners()" [(ngModel)]="sup.problem_id">
              <option *ngFor="let problem of problemsList" [value]="problem.id_problem">{{problem.name_problem}}
              </option>
            </select>
          
          </div>
          <div *ngIf="sup.problem_id =='7'">

              <div class="input-group-prepend mb-3">
                
                  <label class="input-group-text contenido" for="inputGroupProblems">Impresora</label>
               
                <select class="custom-select contenido" id="inputGroupProblems" [(ngModel)]="EntregaToner.toner_id">
                  <option *ngFor="let printer of printers" [value]="printer.toner_id">{{printer.name_printer}}
                  </option>
                </select>
              </div>
              <div class="input-group-prepend mb-3">
                
                  <label class="input-group-text contenido" for="inputGroupProblems">Toner</label>
               
                <select class="custom-select contenido" id="inputGroupProblems"  [(ngModel)]="EntregaToner.toner_id">
                  <option *ngFor="let toner of toners" [value]="toner.id_toner">{{toner.toner_model}}
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3"> Disponible: {{toner.quantity}} Tipo: {{toner.type}}</span>
                          
                        </div>
                  </option>
                </select>
              </div>

              

             

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text contenido">Cantidad</span>
                  </div>
                  <input type="text" class="form-control contenido" id="quantit" name="quantit" aria-label="With textarea" placeholder="Cantidad de toner a entregar"
                    [(ngModel)]="EntregaToner.quantity_departures">
        
                   
                </div>

          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text contenido">Descripcion</span>
            </div>
            <textarea class="form-control contenido" aria-label="With textarea" placeholder="Agregue aqui detalles del problema"
              [(ngModel)]="sup.description"></textarea>
          </div>




          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupProblems">Solucion inmediata</label>
            </div>
            <select class="custom-select contenido" id="inputGroupProblems" [(ngModel)]="incidencia.solucion_inmed">
              <option value='Si'>Si</option>
              <option value='No'>No</option>
            </select>
          </div>


          <div class="input-group mb-3" *ngIf="incidencia.solucion_inmed==='No'">
            <div class="input-group-prepend d-inline-block">
              <label class="input-group-text contenido" for="inputExpediente">Expediente</label>
            </div>
            <input type="number" id="inputExpediente" placeholder="Ingresar numero de expediente"
              class="d-inline-block form-control contenido" [(ngModel)]="sup.proccedings_support">
          </div>

        </div>
        <button *ngIf='bandera' class="btn btn-primary col-md-5 offset-md-4"  (click)="saveNewIncidencia()">
            {{button}}
        </button>

        <div class="row container ml-1" *ngIf='bandera===false' >

          <button class="btn btn-success  col-md-4 " (click)="editarIncidencia()">
              {{button}}
          </button> 
          <button  class="btn btn-danger  col-md-4 offset-md-4 contenido" (click)="eliminarIncidencia()">
              Eliminar Incidencia
           </button>
          
       </div>

        </div>
     
   
  </div>
</div>

</div>