<h3 class="titulo">Listado Inventarios</h3>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" autocomplete="off" class="form-control" name="filterPost"
        placeholder="Buscar por Oficina, Impresora" [(ngModel)]="filterPost">

    </div>
  </div>
  <div *ngIf="habilitarEdit===false" class="col-md-6">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
      Habilitar edicion
    </button>
  </div>
  <div class="alert alert-danger" *ngIf="Nologged">Usuario o contraseña Erronea</div>
</div>

<table class="table">
  <thead>
    <tr >
      <th>id</th>
      <th>Oficina</th>
      <th>Gabinete</th>
      <th>DireccionIP</th>
      <th>Computadora</th>
      <th>Microprocesador</th>
      <th>Placamadre</th>
      <th>Ram</th>
      <th>Disco</th>
      <th>Monitor</th>
      <th>Monitor Numero de serie</th>
      <th>Impresora</th>
      <th *ngIf="habilitarEdit">   </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of inventarios | fil:filterPost ; index as i">
      <td>{{i+1}}</td>
      <td>{{post.name_office| uppercase}}</td>
      <td>{{post.name_cabinet|uppercase}}</td>
      <td>{{post.ip_address}}</td>
      <td>{{post.name_computer}}</td>
      <td>{{post.microprocessor}}</td>
      <td>{{post.name_motherboard}}</td>
      <td>{{post.capacity_ram}}</td>
      <td>{{post.capacity_disk}}</td>
      <td>{{post.name_monitor}}</td>
      <td>{{post.number_serie}}</td>
      <td>{{post.name_printer}}</td>


      <!--Boton o botones para ir a formulario de Inventarios-->
      <td *ngIf="habilitarEdit">
 
          <button type="button" *ngIf='post.id_cabinet!= null' class="btn text-white "
            [routerLink]="['../editinventario', post.id_office, post.name_cabinet, post.name_computer, post.id_ram,post.id_disk, post.id_microprocessor, post.id_motherboard,post.id_cabinet,post.ip_address]">Editar</button>
          <button type="button" *ngIf='post.id_laptop != null' class="btn text-white "
            [routerLink]="['editinventario', post.id_office, post.name_cabinet, post.id_laptop, post.id_ram, post.id_disk]">Editar</button>
          <button type="button" *ngIf='post.id_monitor != null' class="btn text-white "
            [routerLink]="['editinventario', post.id_office, post.name_monitor,post.id_monitor,post.number_serie]">Editar</button>
          <button  type="button" *ngIf='post.id_printer != null' class="btn text-white "
            [routerLink]="['editinventarioi', post.id_office, post.name_printer,post.id_printer,post.id_toner,post.number_printer]">Editar</button>
       
      

          <button type="button" class="btn btn-danger ">
            Borrar
          </button>

      </td>

    </tr>
  </tbody>
</table>







<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Verificacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Usuario</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" name="username" [(ngModel)]="user.username"
            aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Contraseña</span>
          </div>
          <input type="password" class="form-control" aria-label="Default" autocomplete="new-password" name="password"
            [(ngModel)]="user.password" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="loginEdit()" data-dismiss="modal">Confirmar
          Acceso</button>
      </div>
    </div>
  </div>
</div>