
    
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">

   <a class="navbar-brand" routerLink="">
    <img  class="img-fluid contenido" src="http://deportes.sanjuan.gob.ar/img/logodeportes.png" width="150" height="28" alt="">
  </a>
    

        <button class="navbar-toggler contenido" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon contenido"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav  ">
            <li class="nav-item">
               <a class="nav-link"> 
                 <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" routerLink="list" class="btn btn-primary contenido">Incidencias</button>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1 " type="button" class="btn btn-primary dropdown-toggle contenido" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu contenido" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                      <a class="dropdown-item contenido" routerLink="add">Nueva Incidencia</a>
                      <a class="dropdown-item contenido" routerLink="list"> Listar Incidencias</a>
                    </div>
                  </div>
          
                </div></a>
              
            </li>
            <li class="nav-item" >

              
                <a class="nav-link">
                    
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" routerLink="listInventario" class="btn btn-primary contenido">Inventarios</button>

                    
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle contenido" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      
                      <div class="dropdown-menu contenido" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                        <a class="dropdown-item contenido" routerLink="addInventario">Nuevo Inventario</a>
                        <a class="dropdown-item contenido" routerLink="listInventario"> Listar Inventarios</a>
                        <a class="dropdown-item contenido" routerLink="addToners">Nuevo Toner</a>
                        <a class="dropdown-item contenido" routerLink="listToners"> Listar Toners</a>
                        <a class="dropdown-item contenido" routerLink="listSalidasToner">Listar Salidas de Toners</a>
                     </div>
                    </div>
            
                  </div></a>

            </li>

            <li class="nav-item">
              <a class="nav-link"> 
                 <button type="button" routerLink="agenda" class="btn btn-primary contenido">Agenda</button>
              </a>

            </li>

       
   
   
          </ul>

    
              <ul class="navbar-nav ">
              <a class="nav-link contenido my-2 my-sm-0" (click)="logout()" ><i class="fas fa-ticket-alt contenido"></i> Cerrar Sesion</a>
            </ul>
        
           
         
  
        </div>
   
      </nav>
      <br>
      <br>
      <br>
      <br>


