<div class="card border-primary  mt-3 mx-auto" style="max-width: 540px;">

  <div class="row no-gutters">
    <div class="col ">
      <div class="card-header">
        <h3 class="text-center titulo">Formulario Inventario</h3>
      </div>
      <div class="card-body ">
        <div class="alert alert-success contenido" *ngIf="guardado">
          Inventario Guardado
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text contenido">Oficina</label>
          </div>
          <select class="custom-select contenido" id="inputGroupOffice" name="office" [(ngModel)]="id_office"
            (change)="selectOffice()">
            <option *ngFor="let o of officesList" [value]="o.id_office">{{o.name_office| titlecase}}</option>
          </select>
        </div>
        <!--Selector de equipos-->
        <div class="input-group mb-3" *ngIf="selectoffice && buttonEdit==''">

          <div class="input-group-prepend">
            <label class="input-group-text contenido" for="inputGroupProblems">Agregar Equipo</label>
          </div>
          <select class="custom-select contenido" id="inputGroupProblems" [(ngModel)]="TipoEquipo"
            (change)="selectOffice()">
            <option value='gabinete'>Gabinete</option>
            <option value='notebook'>Notebook</option>
            <option value='impresora'>Impresora</option>
            <option value='monitor'>Monitor</option>
          </select>


        </div>

        <!--GABINETEE-------->
        <div class="input-group mb-3 " *ngIf="TipoEquipo ==='gabinete'">

          <div class="container">
            <div class="input-group-prepend mb-3">
              <label class="input-group-text contenido" for="inputNombrec">Gabinete</label>

              <input type="text" id="inputNombrec" name="name_cabinet" placeholder="Gabinete"
                class="form-control contenido" [(ngModel)]="gabinete.name_cabinet">
            </div>
            <div class="input-group-prepend mb-3">
              <label class="input-group-text contenido" for="inputNombrecom">Nombre de la Computadora</label>

              <input type="text" id="inputNombrecom" name="name_computer" placeholder="Nombre de la Computadora"
                class="d-inline-block form-control contenido" [(ngModel)]="gabinete.name_computer">
            </div>
            <div class="input-group-prepend mb-3">
              <label class="input-group-text contenido" for="inputdir">Direccion ip</label>

              <input type="text" id="inputdir" name="ip_address" placeholder="Direccion ip"
                class="d-inline-block form-control contenido" [(ngModel)]="gabinete.ip_address">
            </div>
            <div class="mt-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text contenido" for="inputGroupRam">Capacidad de Ram</label>
                </div>
                <select class="custom-select contenido contenido" id="inputGroupRam" [(ngModel)]="gabinete.ram_id">
                  <option *ngFor="let Ram  of ram" [value]="Ram.id_ram"> {{Ram.capacity_ram}}
                  </option>
                </select>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalRam">
                  <i class="fas fa-plus-circle"></i>
                </button>
              </div>

              <div class="input-group mb-3">

                <div class="input-group-prepend">
                  <label class="input-group-text contenido" for="inputGroupDisk">Capacidad de Disco rigido</label>
                </div>
                <select class="custom-select contenido" id="inputGroupDisk" name="disk" [(ngModel)]="gabinete.disk_id">
                  <option *ngFor="let Disk  of disk" [value]="Disk.id_disk">{{Disk.capacity_disk}}
                  </option>
                </select>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalDisk">
                  <i class="fas fa-plus-circle"></i>
                </button>
              </div>
              <div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text contenido" for="inputGroupMicro">Micro Procesador</label>
                  </div>
                  <select class="custom-select contenido" id="inputGroupmicro" name="micro"
                    [(ngModel)]="gabinete.microprocessor_id">
                    <option *ngFor="let micro  of micros" [value]="micro.id_microprocessor">
                      {{micro.microprocessor}}</option>
                  </select>
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalMicro">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                </div>
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text contenido" for="inputGroupMadre">Placa Madre</label>
                    </div>
                    <select class="custom-select contenido" id="inputGroupMadre" name="madre"
                      [(ngModel)]="gabinete.motherboard_id">

                      <option *ngFor="let pmadre  of motherboard" [value]="pmadre.id_motherboard">
                        {{pmadre.name_motherboard}}</option>
                    </select>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                      data-target="#modalMother">
                      <i class="fas fa-plus-circle"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- Notebook-->
        <div *ngIf="TipoEquipo ==='notebook'">
          <div class="container">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text contenido" for="inputGroupnot">Notebook</label>
              </div>
              <input type="text" class="form-control" id="inputGroupnot" [(ngModel)]="note.name_laptop">
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupRam">Capacidad de Ram</label>
            </div>
            <select class="custom-select d-block contenido" id="inputGroupRam" [(ngModel)]="note.ram_id">
              <option *ngFor="let Ram  of ram" [value]="Ram.id_ram">{{Ram.capacity_ram}}</option>
            </select>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalRam">
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text contenido" for="inputGroupDisk">Capacidad de Disco rigido</label>
            </div>
            <select class="custom-select contenido" id="inputGroupDisk" name="disk" [(ngModel)]="note.disk_id">
              <option *ngFor="let Disk  of disk" [value]="Disk.id_disk">{{Disk.capacity_disk}}
              </option>
            </select>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalDisk">
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>

        </div>

        <!--Impresora-->

        <div *ngIf="TipoEquipo ==='impresora'">
          <div class="container">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text contenido" for="inputmodeloPrinter">Modelo</label>
              </div>
              <input type="text" name="modeloPrinter" class="form-control" id="inputGroupmodelo"
                [(ngModel)]="printer.name_printer">

            </div>
            <div class="input-group mb-3 ">

              <div class="input-group-prepend">
                <label class="input-group-text contenido" for="inputGroupnser">Numero de serie</label>
              </div>
              <input type="text" class="form-control" id="inputGroupnser" name="number_serie"
                [(ngModel)]="printer.number_serie">

            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text contenido" for="inputGrouptoner">Tipo de toner</label>
              </div>
              <select class="custom-select contenido" id="inputGrouptoner" name="toner" [(ngModel)]="printer.toner_id">
                <option *ngFor="let toner  of toners" [value]="toner.id_toner">{{toner.toner_model}}</option>
              </select>
            
            </div>
          </div>
        </div>
        <!--MOnitor-->
        <div *ngIf="TipoEquipo ==='monitor'">
          <div class="container">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text contenido" for="inputmarcamonitor">Marca</label>
              </div>
              <input type="text" name="maracamonitor" class="form-control" id="inputGroupmodelo"
                [(ngModel)]="monitor.name_monitor">

            </div>
            <div class="input-group mb-3">

              <div class="input-group-prepend">
                <label class="input-group-text contenido" for="inputGroupnserm">Numero de serie</label>
              </div>
              <input type="text" class="form-control" id="inputGroupnserm" name="number_serie_monitor"
                [(ngModel)]="monitor.number_serie">

            </div>
          </div>
        </div>


        <button *ngIf="button!='' && buttonEdit==='' " class="btn btn-primary d-block mx-auto contenido"
          (click)="GuardarEquipo()">{{button}}</button>
        <button *ngIf="buttonEdit !='' && button==='' " class="btn btn-primary d-block mx-auto contenido"
          (click)='editarIinventario()'>{{buttonEdit}}</button>

        




      </div>
    </div>

  </div>
</div>

  <!-------------------------MODALes------------------------->


  <!-------Ram------>
  <div class="modal fade" id="modalRam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle contenido">Agregar Ram</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <input type="number" class="form-control contenido" placeholder="Capacidad" aria-label="Capacidad de Ram"
              name="rammCapacity" [(ngModel)]="rammCapacity">
            <div class="input-group-append">
              <span class="input-group-text">GB</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary contenido" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary contenido" (click)="addRam()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-----------------Disk----------->
  <div class="modal fade" id="modalDisk" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle contenido">Agregar Disk</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Capacidad" aria-label="Capacidad de Disco Rigido"
              aria-describedby="basic-addon2" [(ngModel)]="CapacidadDisk">
            <div class="input-group-append ml-1">
              <select class="custom-select  text-dark contenido" id="basic-addon2" [(ngModel)]="unidadDisk">
                <option value='GB'>GB</option>
                <option value='TB'>TB</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary contenido" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary contenido" (click)="addDisk()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-------------------Microprocessor-------------->
  <div class="modal fade" id="modalMicro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle contenido">Agregar microprocessor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Microprocessor" aria-label="motherboard"
              aria-describedby="basic-addon2" [(ngModel)]="procce.microprocessor">
            <div class="input-group-append">
              <span class="input-group-text contenido" id="basic-addon2">INTEL I3 4170 3,7GHz</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary contenido" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary contenido" (click)="addMicro()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-------------Motherboard------->

  <div class="modal fade" id="modalMother" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle contenido">Agregar Motherboard</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Placa Madre" aria-label="Motherboard"
              aria-describedby="basic-addon2" [(ngModel)]="motherr.name_motherboard">
            <div class="input-group-append">
              <span class="input-group-text contenido" id="basic-addon2">ASUSTEK H81M-A</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary contenido" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary contenido" (click)="addMother()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  